/* security.css */

.floating-header {
    position: absolute;
    z-index: -1;
    margin: 2em;
}

rect.pane {
    cursor: -webkit-grab;
    cursor: grab;
    fill: none;
    pointer-events: all;
}

rect.pane.grabbing {
    cursor: move;
}

g.rule rect.pane {
    cursor: ns-resize;
}

g.rule line {
    stroke: black;
    stroke-opacity: 0.4;
    shape-rendering: crispEdges;
}

.axis.y path {
    display: none;
}

.axis.x path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.axis line {
    shape-rendering: crispEdges;
    stroke: black;
    stroke-opacity: 0.1;
}

g.volume rect {
    fill: orange;
    fill-opacity: 0.3;
}

g.volume rect.up {
    fill: green;
}

g.volume rect.down {
    fill: red;
}

g.price path {
    shape-rendering: crispEdges;
    stroke: black;
    stroke-opacity: 0.7;
}

g.poc path {
    stroke: black;
    fill: none;
    stroke-opacity: 0.5;
}

g.band path {
    fill: black;
    fill-opacity: 0.1;
}

g.poc.poc0 path {
    stroke: red;
}

g.band.band0 path {
    fill: red;
}

g.poc.poc1 path {
    stroke: green;
}

g.band.band1 path {
    fill: green;
}

g.poc.poc2 path {
    stroke: blue;
}

g.band.band2 path {
    fill: blue;
}

g.poc.poc3 path {
    stroke: teal;
}

g.band3 path {
    fill: teal;
}

g.poc4 path {
    stroke: aqua;
}

g.band4 path {
    fill: aqua;
}