/* watch-list.css */

.column-list {
    -ms-column-gap:2em; /* IE */
    -moz-column-gap:2em; /* Firefox */
    -webkit-column-gap:2em; /* Safari and Chrome */
    column-gap:2em;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .column-list {
        -ms-column-count:4; /* IE */
        -moz-column-count:4; /* Firefox */
        -webkit-column-count:4; /* Safari and Chrome */
        column-count:4;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .column-list {
        -ms-column-count:6; /* IE */
        -moz-column-count:6; /* Firefox */
        -webkit-column-count:6; /* Safari and Chrome */
        column-count:6;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .column-list {
        -ms-column-count:10; /* IE */
        -moz-column-count:10; /* Firefox */
        -webkit-column-count:10; /* Safari and Chrome */
        column-count:10;
    }
}